<!DOCTYPE HTML>

<html>
	<head>
		<title>Fitness Insider</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static',filename='css/noscript.css')}}"/></noscript>
	</head>
	<body class="is-preload">

		
			<div id="wrapper">

					<header id="header">
						<a href="{{url_for('index_html')}}" class="logo">Fitness Insider</a>
					</header>

				
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{{url_for('index_html')}}">Fitness tips</a></li>
							<li><a href="{{url_for('generic_html')}}">Sports updates</a></li>
							
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

					<div id="main">

							<article class="post featured">
								<header class="major">
									<h2><a href="#">Start your day with<br />
									Healthy Workout tips</a></h2>
									<p>Being physically active can improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.</p>
								</header>
								<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
								<ul class="actions special">
									
								</ul>
							</article>

						
							<section class="posts">
								<article>
									<header>
										
										<h2><a href="#">Use a stability ball</h2>
									</header>
									<a href="#" class="image fit"><img src="./images/ball.jpg" alt="" /></a>
									<p> Incorporating a stability ball into your workouts can help to improve your balance and core strength. You can use it for exercises such as squats, push-ups, and crunches.
                                    </p>
									<ul class="actions special">
										
									</ul>
								</article>
								<article>
									<header>
										
										<h2>Use resistance bands</h2>
									</header>
									<a href="#" class="image fit"><img src="images/resistance bands.jpg" alt="" /></a>
									<p>Resistance bands are affordable and versatile, and they can be used to add resistance to your exercises. They come in different resistance levels, so you can choose the one that's right for you.
                                    </p>
									<ul class="actions special">
										
									</ul>
								</article>
								<article>
									<header>
										<h2>HIIT workouts</h2>
									</header>
									<a href="#" class="image fit"><img src="images/hiit.jpg" alt="" /></a>
									<p>High-intensity interval training (HIIT) is a great way to get a challenging workout in a short amount of time. You can do HIIT workouts using bodyweight exercises or with equipment such as a jump rope or resistance bands.
                                    </p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										
										<h2>creative with your cardio</h2>
									</header>
									<a href="#" class="image fit"><img src="images/cards.jpg" alt="" /></a>
									<p>You don't have to run or use a treadmill to get in a good cardio workout. You can do jumping jacks, mountain climbers, or even dance to your favorite music.
                                    </p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										
										<h2>Take breaks and stretch</h2>
									</header>
									<a href="#" class="image fit"><img src="images/break.jpg" alt="" /></a>
									<p>It's important to take breaks and stretch throughout the day, especially if you're sitting for long periods. Stretching can help to improve flexibility and reduce the risk of injury.</p>
									<ul class="actions special">
										
									</ul>
								</article>
								<article>
									<header>
										
										<h2>Mix it up</h2>
									</header>
									<a href="#" class="image fit"><img src="images/mix.jpg" alt="" /></a>
									<p>Don't do the same workout every day. Mix it up by trying new exercises or changing the order of your routine. This will help to keep things interesting and challenge your body in different ways.
                                    </p>
									<ul class="actions special">
										
									</ul>
								</article>
							</section>
								</div>

						
							<footer>
								<div class="pagination">
									
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>
				</div>

				<!-- Footer -->
				

				

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
